.calc {
  align-items: flex-start;
  gap: 3em;
  > div {
    max-width: 80ch;
  }
}
.range-and-input {
  align-items: flex-start;
  gap: 0.5em;
  max-width: 40ch;
}

.input-group {
  --cluster-gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-inline-end: var(--cluster-gap);
  align-self: flex-end;

  width: max-content;
  flex-shrink: 1;

  padding: 0.25em 0.75em;
  border: 1px solid var(--border);
  border-radius: 0.25em;

  input[type="number"] {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: right;
    font-weight: bold;
    width: 6ch;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :last-child {
    width: 2ch;
    color: var(--primary-b);
    text-align: center;
  }
}

.number-input {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  justify-content: end;
  :first-child {
    margin-inline-end: auto;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.range-input {
  label > div:first-of-type {
    display: none;
  }
  font-size: var(--font-size--2);
  flex-grow: 1;
  width: 100%;
}

.output {
  flex-grow: 1;
  background-color: var(--color-2);
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      text-align: left;
      border: 1px solid var(--border);
      padding: 0.5em 0.75em;
    }
    td:nth-child(2) {
      font-weight: bold;
      text-align: right;
    }
  }
}

.explanation {
  max-width: 60ch;
  p {
    margin: 0.5em 0;
  }
  ul {
    li {
      margin: 0.5em 0;
    }
  }
}
